.driver_inputheader
{
    position:fixed;
    height: 50px;
    background-color: #00585f;
    width: 100%;
}
.driver_inputbody{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    overflow:hidden;

}
.driver_inputcontent{
    position:fixed;
    top:50px;
    bottom:0;
    min-height:250px;
    width:100%;
    text-align: center;
}
.driver_inputinputbox{
    margin-top: 100px;
    height: 500px;
    width: 700px;
    background-color: #f0edbb;
    display: inline-block;
}
/*
.footer{
    width:100%;
    position:fixed;
    bottom:0;
    height:40px;
    background-color: blue;

}
*/

/*Initialize*/
ul#menu, ul#menu ul.sub-menu {
    padding:0;
    margin: 0;
}
ul#menu li, ul#menu ul.sub-menu li {
    list-style-type: none;
    display: inline-block;
}
/*Link Appearance*/
ul#menu li a, ul#menu li ul.sub-menu li a {
    text-decoration: none;
    color: #fff;
    background: #666;
    padding: 5px;
    display:inline-block;
}
/*Make the parent of sub-menu relative*/
ul#menu li {
    position: relative;
}
/*sub menu*/
ul#menu li ul.sub-menu {
    display:none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100px;
}
ul#menu li:hover ul.sub-menu {
    display:block;
}