@font-face
{
    font-family: mainfont;
    src: url(../vendor/fonts/OCRAStd.otf);
}
.driver_inputheader
{
    position:fixed;
    height: 50px;
    background-color: #00585f;
    width: 100%;
}
.driver_inputbody{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    overflow:hidden;

}
.driver_inputcontent{
    position:fixed;
    top:50px;
    bottom:0;
    min-height:250px;
    width:100%;
    text-align: center;
}
.driver_inputinputbox{
    margin: 5%;
    height: 80%;
    width: 70%;
    background-color: #f0edbb;
    display: inline-block;
}

.rowdriver_input{
    margin-top: 5%;
    width: 100%;
    /*margin: 0 auto;*/
    text-align: center;
    cursor: pointer;
}

.driver_inputtodaybutton{
    margin: 0;
    width: 46%;
    padding-top: 3%;
    padding-bottom: 1%;
    font-size: 180%;
    display: inline-block;
    background-color: lightgray;
}
.driver_inputtodaybutton2{
    margin: 0;
    width: 46%;
    padding-top: 3%;
    padding-bottom: 1%;
    font-size: 180%;
    display: inline-block;
    background-color: blue;
}

.driver_inputtomorrowbutton{
    margin: 0;
    width: 46%;
    padding-top: 3%;
    padding-bottom: 1%;
    font-size: 180%;
    display: inline-block;
    background-color: lightgray;
}

.driver_inputtomorrowbutton2{
    margin: 0;
    width: 46%;
    padding-top: 3%;
    padding-bottom: 1%;
    font-size: 180%;
    display: inline-block;
    background-color: blue;
}

ul#driver_input_menu, ul#driver_input_menu ul.sub-menu {
    padding:0;
    margin: 0;
}
ul#driver_input_menu li, ul#driver_input_menu ul.sub-menu li {
    list-style-type: none;
    display: inline-block;
}
/*Link Appearance*/
ul#driver_input_menu li a, ul#driver_input_menu li ul.sub-menu li a {
    text-decoration: none;
    color: #fff;
    background: #666;
    padding: 5px;
    display:inline-block;
}
/*Make the parent of sub-menu relative*/
ul#driver_input_menu li {
    position: relative;
}
/*sub menu*/
ul#driver_input_menu li ul.sub-menu {
    display:none;
    top: 30px;
    left: 0;
    width: 150px;
}
ul#driver_input_menu li:hover ul.sub-menu {
    display:block;
}
.driver_input_menu_fixer:hover{
    height: 200px;
    overflow-y: scroll;
}
.driver_input_menu_fixer_2{
    height: 225px;
    overflow: hidden;
}
.driver_input_menu_wrapper{
    margin-top: 7%;
}
.driver_inputbox{
    font-family: mainfont Arial;
}
.driver_input_font{
    font-family: rowdriver_input !important;
}