<div class="accountbody">
    <div class="accountheader"></div>
    <div class="accountcontent">
        <div class="accountinputbox">
            <h1>ACCOUNT</h1>
            <div class="account_formwrapper">
                <form name="customerForm" class="account_form" novalidate>
                    <div>
                        <label>First Name:</label>
                        <input type="text"value="{{account_first_name}}" id="account_first_name">
                    </div>
                    <div>
                        <label>Last Name:</label>
                        <input type="text"value="{{account_last_name}}" id="account_last_name">
                    </div>
                    <div>
                        <label>new password:</label>
                        <input type="text"value="{{account_new_password_1}}" id="account_new_password_1">
                    </div>
                    <div>
                        <label>re-type new password:</label>
                        <input type="text"value="{{account_new_password_2}}" id="account_new_password_2">
                    </div>
                    <div>
                        <label>phone number:</label>
                        <input type="text"value="{{account_phone_number}}" id="account_phone_number">
                    </div>
                    <div>
                        <label>email:</label>
                        <input type="text"value="{{account_email}}" id="account_email">
                    </div>
                </form>
            </div>
            <!-- HER ER DET EN STYGG HREF -->
            <a href="#/main"><button class="btn-success btn-large btn account_knapp">SUBMIT</button></a>
        </div>
    </div>
</div>
