<div class="driver_inputbody">
    <div class="driver_inputheader"></div>
    <div class="driver_inputcontent">
        <div class="driver_inputinputbox">
            <h1>When do you want to drive?</h1>
            <div>Today</div><div>Tomorrow</div>
            <h1>Where are you located?</h1>
            <div ng-repeat="test in tester">
                <h3>HEI</h3>
            </div>

        </div>
    </div>
    <!--<div class="footer"></div>-->
</div>

<div ng-init="friends = [
{name:'John', age:25, gender:'boy'},
{name:'Jessie', age:30, gender:'girl'},
{name:'Johanna', age:28, gender:'girl'},
{name:'Joy', age:15, gender:'girl'},
{name:'Mary', age:28, gender:'girl'},
{name:'Peter', age:95, gender:'boy'},
{name:'Sebastian', age:50, gender:'boy'},
{name:'Erika', age:27, gender:'girl'},
{name:'Patrick', age:40, gender:'boy'},
{name:'Samantha', age:60, gender:'girl'}
]">
