<div class="driver_inputbody">
    <div class="driver_inputheader"></div>
    <div class="driver_inputcontent">
        <div class="driver_inputinputbox">
            <h1>When do you want to drive?</h1>
            <div>Today</div><div>Tomorrow</div>
            <h1>Where are you located?</h1>
            <div ng-repeat="test in tester">
                <p>{{test}}</p>
                <h3>HEI</h3>
            </div>

        </div>
    </div>
    <!--<div class="footer"></div>-->
</div>


<ul id="menu">
    <li><a href="#">Menu 2</a>

        <ul class="sub-menu">
            <li>
                <a href="#">{{hei}}</a>
            </li>
            <li>
                <a href="#">Sub Menu 2</a>
            </li>
            <li>
                <a href="#">Sub Menu 3</a>
            </li>
            <li>
                <a href="#">Sub Menu 4</a>
            </li>
        </ul>
    </li>
</ul>
