<div class="mainwrapper">
    <div class="maincontent">
        <div class="carimg"></div>
        <div class="rowmain">
            <div class="driverwrapper">
                <div class="drivertext">
                    <!-- PLACEHOLDER TEXT -->
                    <h1>I have</h1>
                    <h1>a car.</h1>
                </div>
            </div>
            <div class="passengerwrapper">
                <div class="passengertext">
                    <!-- PLACEHOLDER TEXT -->
                    <h1>I need</h1>
                    <h1>a ride.</h1>
                    <h3>{{hei}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>

