<div class="mainwrapper">
    <div class="maincontent">
        <div class="carimg"></div>
        <div class="rowmain">
            <div class="driverwrapper" ng-click="goToDriver_output()">
                <div class="drivertext">
                    <!-- PLACEHOLDER TEXT -->
                    <h1>I want</h1>
                    <h1>to drive.</h1>
                </div>
            </div>
            <div class="passengerwrapper" ng-click="goToPassenger_input()">
                <div class="passengertext">
                    <!-- PLACEHOLDER TEXT -->
                    <h1>I need</h1>
                    <h1>a ride.</h1>
                </div>
            </div>
        </div>
    </div>
</div>

