<div class="min_sidebody">
    <div class="min_sideheader"></div>
    <div class="min_sidecontent">
        <div class="min_sideinputbox">
            <h1>MIN SIDE</h1>
            <div class="min_side_formwrapper">
                <form name="customerForm" class="min_side_form" novalidate>
                    <div>
                        <label>First Name:</label>
                        <input type="text"value="{{hei}}">
                    </div>
                    <div>
                        <label>Last Name:</label>
                        <input type="text"value="{{hei}}">
                    </div>
                    <div>
                        <label>new password:</label>
                        <input type="text"value="{{hei}}">
                    </div>
                    <div>
                        <label>re-type new password:</label>
                        <input type="text"value="{{hei}}">
                    </div>
                    <div>
                        <label>phone number:</label>
                        <input type="text"value="{{hei}}">
                    </div>
                    <div>
                        <label>email:</label>
                        <input type="text"value="{{hei}}">
                    </div>
                </form>
            </div>
            <!-- HER ER DET EN STYGG HREF -->
           <!-- <a href="#/main"><button class="btn-success btn-large btn min_side_knapp">SUBMIT</button></a>-->
        </div>
    </div>
</div>
