<form class="form-horizontal" name="customerForm" novalidate>
    <div class="modal">
        <div class="modal-header">
            <h3>Register</h3>
        </div>
        <div class="modal-body">

            <div class="control-group">
                <div class="controls">
                    <input type="text" id="customerFirstName" placeholder="First Name"
                           class="input-medium"
                           ng-model="customerFirstName" required>
                    <input type="text" id="customerLastName" placeholder="Last Name"
                            class="input-medium"
                            ng-model="customerLastName" required>

                </div>
                <br>
                <div class="controls">
                    <input type="text" id="customerEmail" placeholder="Your Email"
                           class="form-search input-mysize"
                           ng-model="customerEmail" required>
                </div>
                <br>
                <div class="controls">
                    <input type="text" id="phone" placeholder="Your Phone Number"
                           class="form-search input-mysize"
                           ng-model="customerPhoneNumber" required>
                </div>
                <br>
                <div class="controls">
                    <input type="text" id="password" placeholder="Password"
                           class="form-search input-mysize"
                           ng-model="customerPassword" required>
                </div>
                <br>
                <div class="controls">
                    <input type="text" id="creditCardNumber" placeholder="Credit Card Number"
                            class="form-search input-mysizeCredit"
                            ng-model="creditCardNumber" required>
                    <input type="text" id="cvv" placeholder="cvv"
                            class="form-search input-mysizeCvv"
                            ng-model="cvv">
                </div>
                <br>


            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success"
                    ng-disabled="customerForm.$invalid"
                    ng-click="register()">Register</button>
        </div>
    </div>
</form>

