<div class="mainContainer">
    <div class="navbar navColor">
        <div class="navbar-inner">
            <div class="pull-right">
                <tr>
                    <td>
                        <input type="text" class="inputtext1 " name="email" id="email" value tabindex="1" placeholder="Email">
                    </td>
                    <td>
                        <input type="text" class="inputtext2 " name="password" id="pass" value tabindex="1" placeholder="Password">
                    </td>
                    <td>
                        <button class="loginButton" ng-click="login()">login</button>
                    </td>
                </tr>
            </div>

        </div>
        <form class="form-horizontal moveForm" name="customerForm" novalidate>
            <div class="registerbox">
                <div>
                    <div class="registerAlign">
                        <input type="text" id="customerFirstName" placeholder="First Name"
                               class="input-medium"
                               ng-model="customerFirstName" required>
                        <input type="text" id="customerLastName" placeholder="Last Name"
                               class="input-medium"
                               ng-model="customerLastName" required>
                    </div>
                    <br>
                    <div class="registerAlign">
                        <input type="text" id="password" placeholder="Password"
                               class="form-search input-mysize"
                               ng-model="customerPassword" required>
                    </div>
                    <br>
                    <div class="registerAlign">
                        <input type="text" id="phone" placeholder="Your Phone Number"
                               class="form-search input-mysize"
                               ng-model="customerPhoneNumber" required>
                    </div>
                    <br>
                    <div class="registerAlign">
                        <input type="text" id="customerEmail" placeholder="Your Email"
                               class="form-search input-mysize"
                               ng-model="customerEmail" required>
                    </div>
                    <br>
                    <button class="btn btn-success moveButton"
                            ng-click="message()"
                            ng-click="register(customerFirstName, customerLastName, customerEmail,
                               customerPassword, rewritePassword, customerPhoneNumber,
                               creditCardNumber, cvv, expirationDate, postalCode)">Register</button>
                </div>
                </div>
            </form>
    </div>
</div>
